<div class="body" style="margin-top: 50px;">
<p class="notice"></p>
<div class="container">
    <div class="row">
<div class="col-md-8 col-md-offset-2">
	<table class="table table-bordered">
		<h1>会員情報</h1>
		<tbody>
			<tr>
				<th class="text-center">名前</th>
				<td class="text-center">山田太郎</td>
			</tr>
			<tr>
				<th class="text-center">フリガナ</th>
				<td class="text-center">ヤマダタロウ</td>
			</tr>
			<tr>
				<th class="text-center">郵便番号</th>
				<td class="text-center">012 - 3456</td>
			</tr>
			<tr>
				<th class="text-center">住所</th>
				<td class="text-center">東京都渋谷区神南1丁目20-15  神南101ビル4F</td>
			</tr>
			<tr>
				<th class="text-center">電話番号</th>
				<td class="text-center">080 - 1234 - 5678</td>
			</tr>
			<tr>
				<th class="text-center">メールアドレス</th>
				<td class="text-center">sample@web.jp</td>
			</tr>
		</tbody>
	</table>
	<a class="btn btn-default pull-right" href="#" >購入履歴一覧</a>
	<a class="btn btn-default pull-right" href="#" >編集</a>
</div>
</div>
</div>
</div>