<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
  <h1 class="h2">会員登録一覧</h1>
</div>

<div class="users mb-5">
  <div class="table-responsive">
    <table class="table table-striped table-sm user-table">
      <thead>
        <tr>
          <th>会員番号</th>
          <th>氏名</th>
          <th>電話番号</th>
          <th>メールアドレス</th>
          <th>住所</th>
          <th></th>
        </tr>
      </thead>
      <tbody>

        <tr>
          <td>1201</td>
          <td>メタル太郎</td>
          <td>080-0000-0000</td>
          <td>metal@example.com</td>
          <td>東京都渋谷区渋谷1-1-1</td>
          <td><button type="button" class="btn btn-outline-secondary">詳細</button></td>
        </tr>

        <tr>
          <td>1202</td>
          <td>メタル次郎</td>
          <td>080-1234-5678</td>
          <td>metal-jiro@example.com</td>
          <td>大阪府大阪市北区梅田1-1-1</td>
          <td><button type="button" class="btn btn-outline-secondary">詳細</button></td>
        </tr>

        <tr>
          <td>1203</td>
          <td>メタル花子</td>
          <td>080-9999-9999</td>
          <td>metal-hanako@example.com</td>
          <td>東京都渋谷区渋谷1-1-1</td>
          <td><button type="button" class="btn btn-outline-secondary">詳細</button></td>
        </tr>

      </tbody>
    </table>
  </div>
