<% if @artist.errors.any? %>
  <div id="error_explanation">
    <h2><%= @artist.errors.count %>error prohibited this obj from being saved:</h2>
   	<ul>
      <% @artist.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
	</div>
<% end %>

<div class="container">
	<div class="card art-mgn border-dark">
		<h1 class="card-header">アーティストを登録</h1>
		<div class="card-body">
			<div class="form-group">
	  	  <%= render 'admins/artists/new' %>
	    </div>
		</div>
	</div>

	<p></p>
			<%= render "cd_form" %>
</div>