<div class="container">
	<div class="card art-mgn border-dark">
		<h1 class="card-header">アーティストを登録</h1>
		<div class="card-body">
			<div class="form-group">
	  	  <%= render 'admins/artists/new' %>
        <%= render 'admins/artists/artist_modal' %>
	    </div>
		</div>
	</div>

	<p></p>
  <div>
		<%= render "admins/cds/cd_form" %>
  </div>
</div>