<div class="card-body">
	<h2 class="card-title">アーティストを登録</h2>
	<%= form_for ([:admins, @artist]) do |f| %>
	 <p>【必須】アーティスト名</p>
	 <%= f.text_field :artist_name %>
	<%= f.submit '登録' %>
	<% end %>

	<% @artists.each do |artist| %>
	<%= artist.artist_name %>
	<% end %>
</div>

