<% @artists.each do |artist| %>
   <div class="table-responsive">
    <table class="table table-striped table-sm">
	    <thead>
			<tr>
				<th><%= artist.id %></th>
				<th><%= artist.artist_name %></th>
				<th><%= link_to "削除", admins_artist_path(artist.id),method: :delete %></th>
			</tr>
		</thead>
	</table>
    </div>


<% end %>