<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 ">
  <h1 class="h2">売上一覧</h1>
</div>

<div class="row">
  <div class="col-md-5 offset-md-6">
    <span >期間：</span>
    <input type="text" name="" value="2018/01/01">
    <span>　〜　</span>
    <input type="text" name="" value="2018/12/31">
  </div>
</div>

<div class="row mt-5">
  <div class="col-md-2 offset-md-2">
    <span>売上：</span>
    320,000円
  </div>
  <div class="col-md-2">
    <span>販売枚数：</span>
    100枚
  </div>
  <div class="col-md-2">
    <span>顧客数：</span>
    10人
  </div>
  <div class="col-md-2">
    <span>顧客単価：</span>
    32,000円
  </div>
</div>


<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 mt-5 ">
  <h1 class="h2">購入履歴一覧</h1>
</div>

<div class="receipt mb-5">
  <div class="table-responsive">
    <table class="table table-striped table-sm user-table">
      <thead>
        <tr>
          <th>会員名</th>
          <th>購入日</th>
          <th>発送日</th>
          <th>アーティスト名</th>
          <th>CD名</th>
          <th>金額</th>
          <th>数量</th>
          <th>小計</th>
          <th>支払方法</th>
          <th>届先住所</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>メタル太郎</td>
          <td>2019/05/18</td>
          <td>2019/05/19</td>
          <td>メタリカ</td>
          <td>メタリカ・ベスト</td>
          <td>2,160円</td>
          <td>2枚</td>
          <td>4,320円</td>
          <td>クレジット</td>
          <td>東京都渋谷区渋谷1-1-1</td>
        </tr>
        <tr>
          <td>メタル太郎</td>
          <td>2019/05/18</td>
          <td>2019/05/19</td>
          <td>メタリカ</td>
          <td>メタリカ・ベスト</td>
          <td>2,160円</td>
          <td>2枚</td>
          <td>4,320円</td>
          <td>クレジット</td>
          <td>東京都渋谷区渋谷1-1-1</td>
        </tr>
        <tr>
          <td>メタル太郎</td>
          <td>2019/05/18</td>
          <td>2019/05/19</td>
          <td>メタリカ</td>
          <td>メタリカ・ベスト</td>
          <td>2,160円</td>
          <td>2枚</td>
          <td>4,320円</td>
          <td>クレジット</td>
          <td>東京都渋谷区渋谷1-1-1</td>
        </tr>
        <tr>
          <td>メタル太郎</td>
          <td>2019/05/18</td>
          <td>2019/05/19</td>
          <td>メタリカ</td>
          <td>メタリカ・ベスト</td>
          <td>2,160円</td>
          <td>2枚</td>
          <td>4,320円</td>
          <td>クレジット</td>
          <td>東京都渋谷区渋谷1-1-1</td>
        </tr>
        <tr>
          <td>メタル太郎</td>
          <td>2019/05/18</td>
          <td>2019/05/19</td>
          <td>メタリカ</td>
          <td>メタリカ・ベスト</td>
          <td>2,160円</td>
          <td>2枚</td>
          <td>4,320円</td>
          <td>クレジット</td>
          <td>東京都渋谷区渋谷1-1-1</td>
        </tr>
        <tr>
          <td>メタル太郎</td>
          <td>2019/05/18</td>
          <td>2019/05/19</td>
          <td>メタリカ</td>
          <td>メタリカ・ベスト</td>
          <td>2,160円</td>
          <td>2枚</td>
          <td>4,320円</td>
          <td>クレジット</td>
          <td>東京都渋谷区渋谷1-1-1</td>
        </tr>

      </tbody>
    </table>
  </div>
