<div class="container">
	<div class="row">
		<div class="mx-auto mt-5 " style="line-height: 110px;">
		<p>注文を確定いたしました！！</p>
		<%= link_to 'TOPページへ戻る', root_path, :class => "btn btn-outline-primary btn-lg" %>
	</div>
	</div>
</div>