<h1>注文内容の確認・変更</h1>




<h2></h2>
  <nav class="payment">
    <ul>
   <label>
     <%= radio_button :payment, :銀行振込, checked: "checked" %>銀行振込</label>
     <label>
     <%= radio_button :payment, :クレジットカード, checked: "checked" %>クレジットカード</label>
     <label>
     <%= radio_button :payment, :代金引換, checked: "checked" %>代金引換</label>
    </ul>
   </nav>
